.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.grid-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.Child>section {
    margin-bottom: 30px;
}